<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreatNumberGame</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body  style=" align-items: center;justify-content: center;padding: 5px;margin: 5px;">
    <div >
        <h2 class="top_nav">Welcome to Great Number Game </h2>
        <h3 class="top_nav" >I am thinking of a number between 1 and 100</h3>
        <h3 class="top_nav">take a guess</h3>
    </div>
    <div class="top_nav">
        <div style="background-color:{{color}}; border: 2px solid black; width: 300px; height: 300px; display: flex; align-items: center;justify-content: center;" >
            <p>{{text}}</p>
        </div>
    </div>

        <div style="justify-content: center ;align-items: center; margin-left: 42%;margin-top: 10px;">
            <form action="/answer" method='post'>
                {% csrf_token %}
                <input type="text" name="number" style=" display: flex;align-items: center;justify-content: center;padding: 5px;margin: 5px;" >
                <button style=" width: 80px;height: 25px; background-color: aqua;border: 0px 1px 1px solid black; margin-left: 50px;">sumbit</button>
        </div>

</body>
</html>