<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>
<body>
    <div>
        <div class="nav-top">
            <div class="logo">
                <h1> Sasquatch Websighting</h1>
            </div>
            <div class="nav-side">
                <p>{{user.firstName}}</p>
                <form action="/dashboard">
                    {% csrf_token %}
                    <button>    Dashboard</button>
                </form>
            </div>
        </div>
        <div class="nav-btm">
            <div class="rep">
                <h3>Reported Sightings</h3>
            </div>
            <div>
                <form action="/destroy" method="post">
                    {% csrf_token %}
                    <button> < Logout</button>
                </form>
            </div>
        </div>

    <div class="shows">
        <div class="descr">What Happened :</div>
        <div class="descr">{{report.desc}}</div>
        <div class="descr">Number of sasquatchs: {{report.numberOfSasq}}</div>
        <div class="btms">
            <p>Reported by </p><h3>{{report.user.firstName}}</h3>
        </div>
    </div>
</body>
</html>