<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
 


    <table>
        {% for x in range (firstNum) %}
        <tr>
            {% for y in range (secNum) %}
                <td class="color{{(secNum + y + x)  %2}} "></td>
            {%endfor%}
        </tr>
        {%endfor%}
       </table>
       

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>