<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> 
       
        <div style="display: flex; justify-content: flex-end; align-items: center; margin-right: 18%;">
            <a href="/destroy">logout</a>
        </div>
        
    </div>
    <div style="height: 2px; background-color: black; margin-top: 10px;"></div>
    <div>
        <form action="/postMessage" method="post">
            {% csrf_token %}
            <div style="margin-left: 20%;">
                <p>Post a message</p>
                <input type="text" name="messege" id=""style="display: flex; width: 80%; border: 1.5px solid black; height: 70px;">
                <input type="hidden" name="user_id" value="{{user.id}}" >
                <div style="display: flex; justify-content: flex-end; align-items: center; margin-right: 20%;">
                    <button style="width: 85px; height: 25px; background-color: #2b78e4; border-radius: 0%; box-shadow: 2px 2px 1px black; color: aquamarine; font-size: 9px;margin-top: 10px;">Post a message</button>
                </div>
            </div>
        </form>
    </div>
    
    

        {% for message in messages %}
        <div  style="display: flex; justify-content: center; align-items: center;margin-left: 20%; ">
            <div style="width: 100%;">
                <p>{{message.user.first_name}} - {{message.created_at}}</p>
        <div style="display: flex; width: 80%;">{{ message.masssege }}</div>
        {% for comment in message.comment.all %}    
            <p>{{ comment.comment }}</p>
        {% endfor %}
        <form action="/comment" method="post">
            {% csrf_token %}
            <input type="hidden" name="msg_id" value="{{ message.id }}">
            <input type="text" name="comment"style="display: flex; width: 80%; border: 1.5px solid black; height: 70px;">
            <div style="display: flex; justify-content: flex-end; align-items: center; margin-right: 20%;">
                <button type="submit" style="width: 85px; height: 25px; background-color: #009e0f; border-radius: 0%; box-shadow: 2px 2px 1px black; color: aquamarine; font-size: 9px;margin-top: 10px;">Comment</button>
            </div>
        </form>
            </div>
        
    </div>
        {% endfor %}

    

</body>
</html>