<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Counter</h1>
  
    <p>{{request.session.count}} times</p>
    <div style="display: flex;align-items: center;justify-content: center;">
      
        <form action="incremant" method="post"> 
             {% csrf_token %}
        <button type="submit" style="background-color: cornflowerblue; width: 125px;height: 25px; color: white; margin: 5px; box-shadow: 1px 2px 1px  black;">Add Two visits</button>
        </form>
        <form action="destroy_session" method="post">
            {% csrf_token %}
            <button style="background-color: cornflowerblue; width: 85px;height: 25px; color: white; margin: 5px; box-shadow: 1px 2px 1px  black;">Reset</button>
        </form>
    </div>
</body>
</html>