<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
</head>
<body>
    <div class="navBar">
        <h2>Your Gold:  </h2>
        <div class="yourGold">{{yourGold}}</div>
    </div>
    <div class="content">
        <div class="containers"> 
            <h2 class="containterContent">Farm</h2>
            <h2 class="containterContent">(earns 10-20 gold)</h2>
            <form action="/process_money" class="containterContent" method="post">
                {% csrf_token %}
                <input type="hidden" name="hiddenValue" value="farm">
                <button type="submit" class="buttons" value="farm" >Find Gold!</button>
            </form>
        </div>
        <div class="containers">
            <h2 class="containterContent">Cave</h2>
            <h2 class="containterContent">(earns 10-20 gold)</h2>
            <form action="/process_money" class="containterContent" method="post">
                {% csrf_token %}
                <input type="hidden" name="hiddenValue" value="cave">
                <button type="submit" class="buttons" value="cave">Find Gold!</button>
            </form>
        </div>
        <div class="containers">
            <h2 class="containterContent">House</h2>
            <h2 class="containterContent">(earns 10-20 gold)</h2>
            <form action="/process_money" class="containterContent" method="post">
                {% csrf_token %}
                <input type="hidden" name="hiddenValue" value="house">
                <button type="submit" class="buttons" value="house" >Find Gold!</button>
            </form>
        </div>
        <div class="containers">
            <h2 class="containterContent">Quest</h2>
            <h2 class="containterContent">(earns 0-50 gold)</h2>
            <form action="/process_money" class="containterContent" method="post">
                {% csrf_token %}
                <input type="hidden" name="hiddenValue" value="quest">
                <button type="hidden" class="buttons" value="quest" >Find Gold!</button>
            </form>
        </div>
    </div>
    <h2 class="header">Activities:</h2>
    <div>
        <form action="/process_money">
            <textarea name="" rows="4" cols="50" class="amount">
                
            </textarea>
        </form>
    </div>
</body>
</html>