<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <form action="/process" method="post">
            {% csrf_token %}
            <h1>Add a Book</h1>
            <div>
                <p>
                    title
                </p>
                <input type="text" name="title">
            </div>
            <div>
                <p>
                    Description
                </p>
                <input type="text" name="description">
            </div>
            <div>
                <button>Add</button>
            </div>
            </form>
        </div>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>title</th>
              
            </tr>
            {%for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
            </tr>
            {% endfor %}
        </table>
    

    </div>
</body>
</html>